.btn_group {
    display: flex;
}

.btn_group.home {
    justify-content: center;
}

.btn {
    font-size: 18px;
    line-height: 27px;
    border-radius: 12px;
}

.default {
    background: transparent;
    border: 2px solid var(--color-content);
    border-radius: 12px;
    font-weight: 600;
    color: var(--color-content);
    padding: 14px 48px;
}

.default:hover {
    background: var(--color-info);
    color: var(--color-light);
    border-color: var(--color-info);
}

.fullsize {
    width: 100%;
}
