.content_block {
    background: var(--color-light);
    text-align: left;
    border-radius: 24px;
    padding: 68px 32px;
    padding-bottom: 32px;
    margin-top: 10px;
}

.content_block.result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_block > * {
    margin-bottom: 2rem;
}

.content_block > *:last-child {
    margin-bottom: 0;
}

@media (max-width: 500px) {
    .content_block {
        padding-top: calc(68px + 70px);
    }
}
